extends layoutHeader
block content
    div.contactPM
        p Contact : 
        ul.containerContact
    div.container
        div.containerPM
            p Votre historique de conversation avec : 
            ul.containerPrivateMessage
        div.editorPM
        form.privateMessagesPageEditorForm
          textarea
          input(type="submit")